@import url("hover-min.css");
/*-------------------------------------------------
 =  Table of Css

 1.Isotope
 1.KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT
 3.Header
 4.General
 5.content - home sections
 6.about page
 7.services page
 8.projects page
 9.blog page
 10.single project page
 11.contact page
 12.footer
 33.Responsive part
-------------------------------------------------*/
/*-------------------------------------------------------*/
/* 1. Isotope filtering
/*-------------------------------------------------------*/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:    1.0
date:       07/27/11
author:     Deepak Chandra
email:      deepakchandra076@gmail.com
website:    http://www.deepakchandra.in
-----------------------------------------------------------------------------*/
.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0px 30px;
}
.table-striped{
    width: 100%;
}
.table-striped tr td{
    padding: 15px;
}
/*********************************************
    -   SETTINGS FOR BANNER CONTAINERS  -
**********************************************/
#home-section{
    position: relative;
    padding: 0px;
}
.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
}
.tp-banner {
  width: 100%;
  position: relative;
}
.tp-banner-fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0;
}


/*-------------------------------------------------*/
/* =  iconbox
/*-------------------------------------------------*/
.iconbox {
    padding: 0;
    margin-top: 25px;
}
.iconbox .iconbox-icon {
    float: left;
    width: 30px;
    text-align: center;
}
.iconbox .iconbox-content {
    margin-left: 40px;
}
.iconbox i.boxicon {
    font-size: 16px;
    text-align: center;
    display: inline-block;
}
.iconbox i.boxicon {
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.08s ease-in;
    -moz-transition: all 0.08s ease-in;
    -ms-transition: all 0.08s ease-in;
    -o-transition: all 0.08s ease-in;
    transition: all 0.08s ease-in;
}
.iconbox-style-2 .iconbox-icon{
    font-size: 30px;
    color: #17415f;
}
.iconbox-style-2 h4 {
    margin: 0px 0px 15px;
    font-weight: 600;
    font-size: 16px;
    color: #17415f;
    line-height: 22px;
}
.find-advisor{
    margin-top: 25px;
}

/*-------------------------------------------------*/
/* =  social top
/*-------------------------------------------------*/
.social-top{
    background: #fff;
padding: 0px 0px 0px;
border-top: 8px solid #13314c;
overflow: hidden;
position: relative;
}
.social-top:before{
    content: '';
position: absolute;
right: 31px;
top: 0;
width: 60%;
background: #13314c;
height: 100%;
-webkit-transform: skewx(-45deg);
-ms-transform: skewx(-45deg);
transform: skewx(25deg);
-webkit-transition: all .3s ease;
transition: all .3s ease;
}
.social-top:after{
    content: '';
    position: absolute;
    right: 0px;
    top: 0;
    width: 41%;
    background: #13314c;
    height: 100%;
}
.social-top ul li{
    list-style-type: none;
    color: #e6f0f9;
    display: inline;
    line-height: 24px;
}
.social-top ul{
    padding: 0px;
    position: relative;
    z-index: 9;
}
.social-top ul li a{
    color: #e6f0f9;
}
.social-icons li a{
    padding: 0px 15px;
}
/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/
.navbar-default {
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin: 0;
  position: relative;
}
.mainmenu-area{
    padding: 3px 0px 0px;
    position: relative;
}
.leading{
    z-index: 99999;
    color: #fff;
    font-size: 16px;
    position: relative;
    padding-top: 15px;
    text-align: left;
    width: 35%;
    font-family: Roboto Slab;
}
.navbar-default .row{
    padding: 0px 15px 0px 30px;
}
.navbar-brand {
  display: inline-block;
  height: auto;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
  font-size: 30px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
  margin: 0;
  color: #222222 !important;
  font-size: 26px;
  text-transform: capitalize;
  padding: 15px 30px;
  letter-spacing: 2.5px;
}
.navbar-brand span {
  color: #ffba00 !important;
}
.top-line {
  padding: 0px 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border-bottom: 1px solid #e8e8e8;
}
.top-line p span {
  margin-right: 20px;
}
.top-line p span i {
  font-size: 13px;
  color: #ffba00;
  margin-right: 10px;
}
.top-line ul.social-icons {
  margin: 0;
  padding: 5px;
  text-align: right;
  padding-right: 15px;
}
.top-line ul.social-icons li {
  display: inline-block;
  margin-left: 9px;
}
.top-line ul.social-icons li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 14px;
  color: #ffffff;
}
.top-line ul.social-icons li a:hover {
  color: #ffba00;
}
.navbar-collapse{
    float: right;
}
.navbar-nav {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-right: 15px;
  background: none;
      margin: 0px;
}
.navbar-nav > li > a {
    color: #17415F !important;
    font-size: 15px;
    font-family: 'Roboto slab', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    padding: 20px 35px;
    z-index: 2;
}
.navbar-nav > li > a:first-child{
    padding-left: 0px;
}
.navbar-nav > li > a.active{
    color: #FFCB05 !important;
}
.navbar-nav a.open-search {
  padding: 20px 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.navbar-nav a.open-search i {
  font-size: 16px;
  display: inline-block;
}
.navbar-nav li.drop {
  position: relative;
}
.navbar-nav li.drop ul.dropdown {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 220px;
  background: #13314C;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.navbar-nav li.drop ul.dropdown li {
  display: block;
}
.navbar-nav li.drop ul.dropdown li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  color: #ECECEC;
  font-size: 13px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  border-bottom: 1px solid #183c5d;
}
.navbar-nav li.drop ul.dropdown li:last-child a{
    border-bottom: none;
}
.navbar-nav li.drop ul.dropdown li a:hover {
  color: #FFCB05;
}
.navbar-nav li.drop ul.dropdown li:first-child {
  border-top: none;
}
.navbar-nav li.drop:hover ul.dropdown {
  opacity: 1;
  visibility: visible;
}
header.active .navbar-fixed-top{
    position: fixed;
    background: #fff;
    border-bottom: none;
    box-shadow: 0 0 2px #dddddd;

}
header.active .bottom_header .logo {
    top: -8px;
}
header.active .navbar-default {
/*
  box-shadow: 0 0 2px #dddddd;
  -webkit-box-shadow: 0 0 2px #dddddd;
  -moz-box-shadow: 0 0 2px #dddddd;
  -o-box-shadow: 0 0 2px #dddddd;
*/
}
header.active .top-line {
  height: 0;
  padding: 0;
}
header.active .navbar-brand {
  color: #222222 !important;
  padding: 15px 15px;
}
header.active .navbar-nav > li > a {
  color: #333 !important;
  padding: 23px 15px;
}
header.active .navbar-nav a.open-search {
  padding: 23px 15px;
}
header.active .navbar-nav a.open-search i {
  color: #fff;
}
.form-search {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background: #E3E3E3;
  padding: 1px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.form-search input[type="search"] {
  font-size: 14px;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 10px;
  margin: 0;
  color: #222222;
  padding: 8px 10px;
  border: none;
  width: 100%;
  outline: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  background: #ffffff;
}
.form-search button {
  background: #ffffff;
  border: none;
  float: right;
  margin-top: -28px;
  margin-right: 15px;
  position: relative;
  z-index: 2;
}
.form-search button i {
  color: #222222;
  font-size: 16px;
}
.form-search.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

 header .bottom_header .logo .logo_text p:nth-child(1) {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 2em;
    color: #1c1a21;
    display: inline-block;
    padding-top: 44px;
    position: relative;
 }
 header .bottom_header {
    background: #fff;
    background-size: cover;
 }
 header .bottom_header .logo {
    line-height: 55px;
    position: absolute;
    top: -23px;
 }
header .bottom_header .right-info {
  /* background-color: #2a2a2a; */
  float: right;
  /* padding: 10px; */
  width: 100%;
  margin-right: -15px;
}
header .bottom_header .right-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .bottom_header .right-info ul li {
  display: inline-block;
}
header .bottom_header .right-info ul li a {
  color: #ffffff;
  font-size: 13px;
  margin: 0px 10px;
}
header .bottom_header .right-info ul li a:hover {
  color: #fde428;
  transition: all 0.5s;
}
.ac_info_wrapper {
    float: right;
    display: inline-block;
    color: #ffc107;
    padding: 20px 25px;
    min-height: 90px;
    border-right: 1px solid #264462;
    word-wrap: break-word;
}
.ac_info_wrapper a {
    color: #fff;
}
.ac_info_wrapper h3 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.ac_info_wrapper i {
    padding-right: 10px;
    font-size: 14px;
}
.ac_info_wrapper span {
    display: block;
    text-transform: capitalize;
    color: #fde428;
}
.ac_info_wrapper .ac_social_wrapper {
    padding: 11px 0;
    float: left;
    width: 100%;
}
.mainmenu-area .find-advisor {
    position: relative;
    margin-right: -5px;
    transition: all .3s ease;
    padding-top: 8px;
}

/*-------------------------------------------------*/
/* =  General
/*-------------------------------------------------*/
body{
    font-family: Open Sans;
font-size: 14px;
color: #8e8d8d;
font-weight: 500;
}
p {
  font-size: 14px;
color: #8e8d8d;
font-family: 'Open Sans', sans-serif;
font-weight: 500;
line-height: 29px;
margin: 0 0 10px;
}
section{
    padding: 90px 0px;
}
.spacer-40{
    height: 40px;
    float: left;
    width: 100%;
}
.welcome_heading h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 800;
    font-size: 1.625em;
    color: #323232;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    line-height: 32px;
    padding-right: 25px;
}

.welcome_heading h2:before {
    content: '';
    width: 60px;
    height: 4px;
    background: #FFCB05;
    position: absolute;
    letter-spacing: 1px;
    top: 50px;
    left: 50%;
    margin-left: -37px;
}
.welcome_heading{
    padding-bottom: 60px;
}
.welcome_heading p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #898989;
    padding-left: 30px;
    padding-top: 25px;
    line-height: 26px;
    text-align: center;
    font-weight: 500;
}
.left-heading{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 1.625em;
    color: #323232;
    position: relative;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.left-heading:after{
    content: '';
    width:45px;
    height:3px;
    background: #FFCB05;
    position: absolute;
    top: 38px;
    left: 0px;
}
a:hover{
    text-decoration: none;
}
a:focus{
    outline: none;
}
.title{
    margin-bottom: 70px;
}
.title p{
    margin: 20px 150px 30px;
    font-style: italic;
    color: #282828;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Roboto Slab;
}

/* ==============================
  3. Caption Effect styles
============================== */


.img-cap-effect:hover .img-box .img-caption {
  top: 0;
}
.img-cap-effect:hover .img-box .img-caption:before {
  bottom: 10px;
  opacity: 1;
}
.img-cap-effect:hover .img-box .img-caption .box-holder ul {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.img-cap-effect .img-box {
  position: relative;
  overflow: hidden;
}
.img-cap-effect .img-box .img-caption {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(19, 49, 76, 0.6);
  text-align: center;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.img-cap-effect .img-box .img-caption:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 100%;
  opacity: 0;
  border: 5px solid #ffffff;
  border-bottom: 0;
  border-right: 0;
  -webkit-transition: all .5s ease .5s;
          transition: all .5s ease .5s;
}
.img-cap-effect .img-box .img-caption .box-holder {
  width: 100%;
  height: 100%;
  display: table;
}
.img-cap-effect .img-box .img-caption .box-holder ul {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: all .5s ease 1s;
          transition: all .5s ease 1s;
}
.img-cap-effect .img-box .img-caption .box-holder ul li {
  display: inline-block;
}
.img-cap-effect .img-box .img-caption .box-holder ul li a {
  display: block;
  width: 30px;
  height: 30px;
  background: #13314c;
  font-size: 13px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
}
/*-------------------------------------------------*/
/* =  content
/*-------------------------------------------------*/
.title-section {
  margin-bottom: 30px;
  text-align: center;
}
.title-section h1 {
  color: #222222;
  font-size: 30px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.title-section h1 span {
  color: #ffba00;
}
#home-section .tp-caption.small_text {
  position: absolute;
  color: #fff;
  text-shadow: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  font-family: 'Roboto Slab', sans-serif;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
  font-style: italic;
}
#home-section .tp-caption.small_text.backgroun-col {
  background: #ffba00;
  padding: 1em 2em;
  font-size: 15px;
  color: #222222;
  line-height: 24px;
}
#home-section .tp-caption.finewide_medium_white {
  color: #FFF;
  text-shadow: none;
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
  font-family: 'Roboto Slab', sans-serif;
  background-color: none;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 0px;
  border-color: transparent;
  border-style: none;
  text-align: left;
}
#home-section .tp-caption.finewide_medium_white span {
  color: #FFCB05 !important;
  text-align: center;
}
#home-section .tp-caption a.trans-btn {
  color: #ffffff;
  background: transparent;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 0.8em 4em;
}
#home-section .tp-caption a.trans-btn:hover {
  color: #ffba00;
  border: 2px solid #ffba00;
}
#home-section .tp-caption a.trans-btn2 {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  border: 2px solid transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 0.8em 4em;
  color: #000;
  background: #fff;
}
.#home-section .tp-caption a.trans-btn2:hover {
  color: #ffffff;
  background: #ffba00;
}
#home-section .slotholder:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
/*   background: rgba(0,0,0,0.4); */
}
#home-section .tp-bannertimer {
  display: none !important;
}
a.button-one {
  color: #3e3e3e;
  background: #fff;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 10px 35px;
}

/*
    --------------------------------------------------
    Service Box start here
    --------------------------------------------------
*/

.service-box {background: #083250; text-align: center; padding: 0px;}

.service-box .service-icon{
    border-radius: 50%;
    background: #ffcb05;
    width: 110px;
    height:110px;
    position: relative;
    margin: auto;
}

.service-box .col-md-4{
    padding: 45px 45px;
}

.service-box .service-icon img{
    display: inline-block;
    padding-top: 24px;

}

.service-box h3{
    text-transform: uppercase;
color: #fff;
font-size: 18px;
font-weight: 600;
}

.service-box p{
    color: #bcc1c7;
}

.service-box .highlight{
    background: #ffcb05;
}

.service-box .highlight p {
    color: #454545;
    font-weight: 600;
}

.service-box .highlight h3 {
    color: #083250;
}

.service-box .highlight .service-icon{
    background: #083250;
}

.service-box .highlight h3, .service-box .highlight p{

}

/*
    --------------------------------------------------
    Service Box start here
    --------------------------------------------------
*/

.about-box {background: url('../images/abt-bg.jpg') no-repeat; background-size: inherit;}
.about-box .iconbox-icon{
    color: #FFCB05;
    font-size: 21px;
}

.about-box .btn-theme{
    line-height: 23px;
    padding-left: 17px;
    border-radius: 3px;
    padding-right: 17px;
}

.about-box .iconbox {
    margin-top: 20px;
}

.about-box h6{
    font-size: 14px;
    line-height: 19px;
    color: #034263;
    font-weight: 600;
}
/*
    --------------------------------------------------
    welcome section start here
    --------------------------------------------------
*/

.welcome_sec {background: #fff;}
.welcome_item {
    position: relative;
}
.welcome_details img {
    background: #fff;
}
.entry-image .entry-overlay {
    display: block;
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 2px;
    background: rgba(19,49,76,0.8);
      -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.entry-image {
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}
.entry-image :hover{
    opacity: 1;
    bottom: 0px;
    height: 100%;
}
.entry-image .entry-overlay i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
}
.welcome_details .welcome_info {
    position: relative;
    width:77%;
    background: #fdfdfd;
    border: 1px solid #e6e6e6;
    margin-left: 140px;
    padding-top: 7px;
    padding-bottom: 24px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.welcome_details h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #323232;
    position: relative;
}
.welcome_details p {
    font-family: 'Open Sans', sans-serif;
    color: #898989;
}
.welcome_item_bottom {
    margin-top:29px;
}
.welcome_details .welcome_info:hover {
    background: #002e5b;
}
.welcome_details .welcome_info:hover h3{
    color: #fff;
}
.welcome_details .welcome_info:hover p {
    color: #e4e8e8;
}
/*
    --------------------------------------------------
    About section section start here
    --------------------------------------------------
*/
.about-section {
  padding: 0px 0px 0px;
  background: #13314c;
  overflow: hidden;
}
.who-content{
    padding: 50px 0px;
}
.who-img{
    overflow: visible;
    padding-left: 65px;
}
.img-full{
    max-width: none;
    width: auto !important;
}
.about-section ul{
    padding: 0;
    margin-top: 25px;
}
.about-section ul li {
    margin-top: 15px;
    list-style: none;
}
.about-section ul li a {
    font-family: Open Sans;
    font-style: italic;
    font-size: 13px;
    color: #282828;
    font-weight: 300;
}
.about-section p{
    line-height: 29px;
}
.we_are_deatails h2 {
    color: #fff;
}
.we_are_deatails>p {
    color: #bcc1c7;
}

.about-section .tl-spoiler {
    position: relative;
    margin-top: 25px;
    float: left;
}
.about-section .tl-spoiler > h6 {
    font-size: 1.4rem;
    padding-right: 0;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 700;
    color: #E9FFFC;
}
.about-section .tl-spoiler .tl-spoiler-content {
    padding-left: 30px;
    font-size: 13px;
    color: #E9FFFC;
    line-height: 26px;
}

/*
    --------------------------------------------------
    About section section start here
    --------------------------------------------------
*/

.feature-section{
    padding: 70px 0;

    background: #f4f6f7 url('../upload/others/719.png') bottom right no-repeat;
}

.feature-section a span{
    text-align: center;
    padding-top: 15px;
    width: 70px;
    height: 70px;
    position: absolute;
    left: -10px;
    top: 45px;
    display: block;
    border: 1px solid #dadada;
    background: #fff;
    color: #236;
    border-radius: 100px;
}
.feature-section a:hover span{
    background: #F4BC16;
    border-right: none;
    color: #fff;
}
.feature-section .col-md-4 .fa{
    font-size: 34px;
}
.feature-section .col-md-4 a{
    position: relative;
padding: 40px 10px 0px 105px;
display: block;
cursor: pointer;
border: 1px solid;
border-right: none;
height: 180px;
margin-bottom: 40px;
border-color: #fff;
color: #161029;
box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
background: #fff;
}
.feature-section .col-md-4 a:after{
    display: block;
content: "";
position: absolute;
right: 0px;
top: -1px;
bottom: -1px;
width: 1px;
background: #fff;
}
.feature-section .col-md-4 a:hover{
    color: #F4BC16;
    border: 1px solid #F4BC16;
}
.feature-section .col-md-4 a:hover:after{
    display: block;
content: "";
position: absolute;
right: 0px;
top: -1px;
bottom: -1px;
width: 2px;
background: #F4BC16;
}
.quote-section{
    padding: 70px 0;
/*  background:#161029; */
background: url('../upload/others/quote-bg.png');
background-size: cover;
}
.quote-section .button-one{
    margin-top: 15px;
    float: left;
    text-decoration: none;
}
.quote-section .content{
    padding: 35px 0px;

}
.quote-section .titles{
    margin-bottom: 25px;
}
.quote-section h2{
    font-size: 30px;
color: #fff;
margin: 0px 0px 5px;
}
.quote-section #contact-form h2{
    text-transform: uppercase;
    }
.quote-section p{
    color: #fff;
    line-height: 24px;

}
.projects-section {
  padding: 0px 0 70px;
}
.projects-section .project-title h2 {
  color: #222222;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.projects-section .project-title p {
  margin-bottom: 30px;
}
.projects-section ul.filter {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
}
.projects-section ul.filter li {
  display: inline-block;
  margin: 0 15px 0 0;
}
.projects-section ul.filter li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding:6px 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.projects-section ul.filter li a.active,
.projects-section ul.filter li a:hover {
    color: #05305b;
    background: #FFE941;
    padding: 6px 25px;
}
.project-box .project-post {
  width: 31.5%;
  position: relative;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 5px 3px #eff1f8;
}
.project-box .project-post img {
  width: 100%;
}
.project-box .project-post .hover-box {
 position: absolute;
    background: rgba(5,49,92,0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
     -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
    opacity: 0;
    padding: 37% 50px;
}
.project-box .project-post .hover-box h2 {
    color: #fff;
    font-size: 17px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    margin: 0 0 15px;
    font-size: 15px;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}
.project-box .project-post .hover-box h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #fff;
}
.project-box .project-post .hover-box h2 a:hover {
  color: #ffba00;
}
.project-box .project-post .hover-box span {
  font-size: 13px;
    color: #cfcfcf;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 10px;
    margin-bottom: 0;
}
.project-box .project-post:hover .hover-box {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

/*============== Some Facts =============*/
.some_facts {
    background: url("../images/counter-bg.jpg") no-repeat;
    text-align: center;
    padding: 60px;
    background-size: cover;
}
.some_facts p {
    font-family: 'Robot Slab', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 27px;
}

.some_facts span {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 4.06em;
    color: #fff;
    padding-left: 40px;
    position: relative;
}


.tab-posts-box {
  margin-bottom: 30px;
}
.tab-posts-box ul.nav-tabs {
  text-align: center;
  border: none;
}
.tab-posts-box ul.nav-tabs li {
  float: left;
  border: none;
}
.tab-posts-box ul.nav-tabs li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  padding: 10px 25px;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #222222;
  font-size: 13px;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  margin: 0;

}
.tab-posts-box ul.nav-tabs li a:hover {
  border: none;
  color: #ffba00;
}
.tab-posts-box ul.nav-tabs li.active a {
  border: none;
  background: #ffba00;
  color: #ffffff;
}
.tab-posts-box .tab-pane {
  padding: 30px;
  padding-bottom: 0;
  border: 1px solid #f1f1f1;
  overflow: hidden;
}
.tab-posts-box .tab-pane h3 {
  color: #222222;
  font-size: 17px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 13px;
  text-transform: uppercase;
}
.tab-posts-box .tab-pane img {
  float: right;
  margin-left: 20px;
  max-width: 400px;
  max-width: 200px;
}
.tab-posts-box .tab-pane img.left-order {
  float: left;
  margin-left: 0;
  margin-right: 20px;
}
.testimonial-section {
  padding: 60px 0 85px;
  position: relative;
  background: url('../images/t-bg.jpg') fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.testimonial-section h2{
    color: #fff;
}
.testimonial-section .box-header{
    color: #fff;
    font-weight: 800;
}
.testimonial-section .title-section{
    margin-bottom: 60px;
}
.testimonial-section .container {
  position: relative;
  z-index: 2;
}
.testimonial-section .title-section {
  text-align: center;
}
.testimonial-section .title-section h1 {
  color: #222222;
  font-size: 30px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 00px;
  color: #ffffff;
}
.testimonial-section .testimonial-box {
  text-align: center;
  padding-bottom: 2px;
}
.testimonial-section .testimonial-box ul.bxslider {
  margin: 0;
  padding: 0;
}
.testimonial-section .testimonial-box ul.bxslider li {
  overflow: hidden;
}
.testimonial-section .testimonial-box p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0px;
  padding: 0 40px;
}
.testimonial-section .testimonial-box h2 {
    font-size: 20px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    margin: 0 0 15px;
    color: #FFCB05;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.testimonial-section .testimonial-box span {
  font-size: 14px;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 10px;
  margin: 0 0 30px;
  color: #ffffff;
  display: inline-block;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #FFCB05;
  border-color: #FFCB05;
}
.testimonial-section:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.1);
}
.news-section {
  background: #fff url("../images/news-bg.png") no-repeat right bottom;
}
.news-section h2 {
  color: #222222;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.news-section .news-post {
  margin-bottom: 30px;
}
.news-section .news-post img {
  width: 100%;

}
.news-section .news-post h2 {
  margin-bottom: 2px;
  font-size: 15px;
  margin-bottom: 20px;
}
.news-section .news-post h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
}
.news-section-home .blog_infos li{
    font-size: 11px;
}
.news-section-home .post-content-text{
    text-align: left;
    padding: 0px 15px;
}
.news-section .news-post h2 a:hover {
  color: #ffba00;
}
.news-section .news-post span {
  display: inline-block;
  color: #666666;
  font-size: 11px;
  font-weight: 400;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.news-section .news-post .btn.readmore {
   font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    background: #FFCB05;
    position: relative;
    line-height: 37px;
    border-radius: 2px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 0px 27px;
}
.news-section .news-post > a:hover {
  color: #ffba00;
}
.news-section .news-box .col-md-3{
    padding: 0px 7.5px;
}
.news-section .news-box article{
    box-shadow: 0 0px 0px 1px #f2f2f2;
    padding: 0px 15px;
    float: left;
    background: #fff;
}
.news-section .news-box article .img-box{
    margin-left: -15px;
    margin-right: -15px;
}
.clients-section {
  padding: 50px 0;
  background: #F8F8F8;
}
.clients-section .logo-panel img {
    margin: 15px 0;
    border: 1px solid #ededed;
    border-radius: 2px;
    transition: all 200ms ease-out;
    box-shadow: 0 1px 2px #ededed;
    opacity: 0.6;
    max-width: 100%;
    height: auto;
}
.clients-section .logo-panel img:hover {
    border: 1px solid #f7c51e;
    opacity: 1;
}
.clients-section .logo-panel {
    text-align: center;
}
.clients-section h2 {
  color: #222222;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.clients-section ul.client-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.clients-section ul.client-list li {
  float: left;
  width: 25%;
  list-style: none;
}
.clients-section ul.client-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  width: 100%;
  opacity: 0.5;
}
.clients-section ul.client-list li a img {
  width: 100%;
}
.clients-section ul.client-list li a:hover {
  opacity: 1;
}
.clients-section blockquote {
  margin-top: 60px;
border-right: 3px solid #FFBA00;  padding: 20px 0;
  padding-right: 30px;
  margin-right: 30px;
  border-left: none;
}
.clients-section blockquote p {
  font-size: 15px;
  margin: 0;
}
.clients-section blockquote p span {
  font-weight: 700;
  color: #222222;
}
.faqs-section {
  padding: 40px 0 60px;
  overflow: hidden;
}
.accord-elem {
  margin-top: 8px;
}
.accord-elem:first-child {
  margin-top: 0px;
}
.accord-title {
  position: relative;
}
.accord-title h2 {
  padding: 14px 15px 15px;
  background: #f7f7f7;
  color: #222222;
  font-size: 17px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 36px;
  border: 1px solid #eeeeee;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.accord-title a.accord-link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
  text-align: center;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-right: none;
  padding-top: 4px;
}
.accord-title a.accord-link:after {
  font-family: 'FontAwesome';
  content: '\f0a9';
  font-size: 18px;
  color: #236;
  line-height: 36px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.accord-title p {
  font-size: 14px;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 10px;
  margin: 12px 0 12px 72px;
}
.accord-elem.active .accord-title h2 {
 color: #3e3e3e;
border: 1px solid #FFBA00;
}
.accord-elem.active a.accord-link {
  background: #FFBA00;
border: 1px solid #FFBA00;
border-right: none;
width: 45px;
height: 45px;
padding-top: 3px;
}
.accord-elem.active a.accord-link:after {
  content: '\f0ab';
  color: #ffffff;
}
.accord-content {
  display: none;
  padding-left: 36px;
  overflow: hidden;
}
.accord-content p {
  font-size: 14px;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 10px;
  margin: 12px 0;
}
.accord-elem.active .accord-content {
  display: block;
  border: 1px solid #e0e0e0;
border-top: none;
}
.banner-consult {
  margin-top: 25px;
  padding: 50px 30px;
  text-align: center;
  border: 1px solid #000000;
}
.banner-consult h1 {
  color: #ffba00;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Roboto Slab', sans-serif;
  margin: 0 0 15px;
  line-height: 40px;
  text-transform: uppercase;
}
.banner-consult h1 span {
  display: block;
}
.banner-consult p {
  margin: 25px 0px;
  font-size: 22px;
font-style: italic;
}
.banner-consult a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 12px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #ffba00;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 45px;
}
.banner-consult a:hover {
  opacity: 0.7;
}
/*-------------------------------------------------*/
/* =  home 2
/*-------------------------------------------------*/
#home-section.slider2 {
  margin-top: 120px;
}
.flex-direction-nav .flex-next:hover,
.flex-direction-nav .flex-prev:hover {
  background: #ffba00;
}
.flexslider .flexcaption {
  position: absolute;
  width: 100%;
  bottom: 50px;
  left: 0;
}
.flexslider .flexcaption .inner-caption {
  padding: 30px 40px;
  background: #222222;
  max-width: 620px;
}
.flexslider .flexcaption .inner-caption h1 {
  color: #222222;
  font-size: 30px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #ffba00;
}
.flexslider .flexcaption .inner-caption p {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}
.experience-section {
    padding: 40px 0px 55px;
    background: url("../images/exp.jpg") no-repeat;
}
.experience-section img {
    position: absolute;
    top: -96px;
}
.experience-section h2 {
    color: #fff;
    font-weight: 600;
}
.experience-section p {
    color: #FFFAF2;
    font-weight: 400;
    font-size: 14px;
}
.experience-section h2 small {
    font-size: 28px;
    color: #fff;
}
.choose-section{
    padding: 90px 0px 0px;
}
.choose-section .choose-box{
    padding: 70px 0px 0px;
}
.choose-section .feature-img{
    margin-top: -77px;
}
.choose-section .feature-icon {
    font-size: 40px;
    color: #06315c;
}
.choose-section h4 {
    font-weight: 600;
    color: #05305B;
}
.about-section2{
    background: #f8f8f8;
    padding: 90px 0px 0px;
}
.about-section2 .right_side img{
    max-width: none !important;
}
.about-section2.history{
    background: #fff url(../images/history-bg.jpg) no-repeat center bottom;
    padding-bottom: 300px;
}
.about-section2 h2 {
  color: #06315C;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    margin: 0 0 15px;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 35px;
}
.about-section h2.serv{
    text-transform: uppercase;
font-family: Roboto Slab;
font-weight: 800;
font-size: 25px;
color: rgb(5, 48, 91);
line-height: 35px;
}
.about-section2 iframe {
  width: 100%;
  height: 400px;
  margin-bottom: 25px;
}
.services-offer-section2 {
  padding: 60px 0 20px;
  background: #222222;
}
.services-offer-section2 .services-post {
  margin-bottom: 40px;
}
.services-offer-section2 .services-post img {
  width: 100%;
  margin-bottom: 25px;
}
.services-offer-section2 .services-post h2 {
  color: #222222;
  font-size: 17px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 20px;
}
.services-offer-section2 .services-post p {
  margin-bottom: 15px;
  color: #aaaaaa;
}
.services-offer-section2 .services-post a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #ffba00;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
}
.services-offer-section2 .services-post a:hover {
  opacity: 0.7;
}
.projects-section2 {
  padding: 55px 0 0;
  text-align: center;
}
.projects-section2 h2 {
  color: #222222;
  font-size: 17px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  letter-spacing: 1.9px;
  margin-bottom: 25px;
}
.projects-section2 .project-title {
  margin-bottom: 45px;
}
.projects-section2 .project-title p {
  max-width: 800px;
  margin: 0 auto;
}
.projects-section2 .project-box .project-post .hover-box {
  background: #222222;
}
.projects-section2 .project-box .project-post .hover-box h2 a {
  color: #ffffff;
}
.projects-section2 .project-box .project-post .hover-box h2 a:hover {
  color: #ffba00;
}
/*-------------------------------------------------*/
/* =  home presentation
/*-------------------------------------------------*/
.presentation-section {
  border-top: 1px dashed #d1d1d1;
}
.presentation-section .presentation-line {
  padding: 60px 0 35px;
  border-bottom: 1px dashed #d1d1d1;
}
.presentation-section .presentation-line h2 {
  color: #222222;
  font-size: 17px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}
.presentation-section .presentation-line img {
  width: 100%;
  margin-bottom: 25px;
}
.presentation-section .presentation-line p {
  margin-bottom: 16px;
}
.presentation-section .presentation-line a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #666666;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.presentation-section .presentation-line a:hover {
  color: #ffba00;
}
/*-------------------------------------------------*/
/* =  about page
/*-------------------------------------------------*/
.page-banner-section {
    padding: 66px 0;
    position: relative;

    background-size: cover;
    background-color:#F17300;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.page-banner-section .container {
  position: relative;
  z-index: 2;
}
.page-banner-section h2 {
  color: #fff;
  font-size: 44px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}
.page-banner-section ul.page-depth {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 10px;
}
.page-banner-section ul.page-depth li {
  display: inline-block;
  margin-left: 1px;
}
.page-banner-section .col-md-12{
    padding: 15px;
}
.page-banner-section ul.page-depth li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 300;
}
.page-banner-section ul.page-depth li a:hover {
  color: #ffba00;
}
.page-banner-section ul.page-depth li:before {
  content: '/';
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin-right: 5px;
}
.page-banner-section ul.page-depth li:first-child:before {
  content: '';
  margin-right: 0;
}
.page-banner-section:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(49,43,72, 0.6);
}
/*-------------------------------------------------*/
/* =  Company History
/*-------------------------------------------------*/
.red_list {
    padding: 0;
}
ul.red_list li {
    margin-top: 15px;
    list-style: none;
}
ul.red_list li .fa, #our-mission ul li .fa {
    color: #FFCB05;
    margin-right: 10px;
    font-size: 16px;
    padding: 0px;
}

.team-section {
  padding: 80px 0px 90px;
}
.team-section .team-post {
  margin-bottom: 40px;
}
.team-section .team-post img {
  width: 100%;
  margin-bottom: 25px;
}
.team-section .team-post h2 {
  color: #222222;
  font-size: 17px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 16px;
  margin-bottom: 2px;
}
.team-section .team-post span {
  display: inline-block;
  font-size: 14px;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 10px;
  font-size: 13px;
  margin-bottom: 20px;
  color: #ffba00;
}
/*-------------------------------------------------*/
/* =  services pages
/*-------------------------------------------------*/
.services-page-section {
  padding: 80px 0px;
}
.services-page-section {
    background: #f4f6f7;
    overflow: hidden;
}
.white-right::before {
    content: '';
    width: 2500px;
    height: 117%;
    background: #fff;
    position: absolute;
    top: 1px;
    left: -15px;
    z-index: 0;
    top: -90px;
    bottom: -90px;
}
.services-page-section ul.side-navigation-list {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 10px;
}
.services-page-section ul.side-navigation-list li {
  list-style: none;
}
.services-page-section ul.side-navigation-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  color: #222222;
  font-size: 15px;
  font-family: 'Roboto Slab', sans-serif;
  padding: 15px 0px;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.services-page-section ul.side-navigation-list li a:after {
  content: '\f105';
  font-family: 'FontAwesome';
  font-size: 12px;
  position: absolute;
  right: 25px;
  top: 0;
  line-height: 50px;
  color: #222222;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.services-page-section ul.side-navigation-list li a:hover,
.services-page-section ul.side-navigation-list li a.active {
  color: #FFCB05;
}
.services-page-section ul.side-navigation-list li:first-child {
  margin-top: 0;
}
.services-page-section .contact-info {
  padding: 25px 0px;
}
.services-page-section .contact-info h2 {
    color: #222222;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 800;
    margin: 0 0 15px;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.services-page-section .contact-info ul.information-list {
  margin: 0;
  padding: 0;
}
.services-page-section .contact-info ul.information-list li {
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 10px;
}
.services-page-section .contact-info ul.information-list li i {
    float: left;
    color: #000;
    font-size: 20px;
    display: inline-block;
    line-height: 24px;
    font-weight: 600;
}
.services-page-section .contact-info ul.information-list li span {
  display: block;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 10px;
    margin-bottom: 8px;
    margin-left: 35px;
    color: #222222;
    font-family: Roboto Slab;
}
.services-page-section .contact-info ul.information-list li a {
  font-size: 15px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 10px;
    display: inline-block;
    margin-left: 19px;
    margin-bottom: 10px;
    color: #222222;
}
.services-page-section .contact-info ul.information-list li:last-child {
  border-bottom: none;
}
.services-page-section .services-wrapp .services-post {
  margin-bottom: 40px;
  position: relative;
}
.section-title-style-2 h4{
    text-transform: uppercase;
    color: #333;
    font-weight: 800;
    margin-bottom: 15px;
}
.services-page-section .services-wrapp .services-post img {
  width: 100%;
  margin-bottom: 25px;
}
.services-page-section .services-wrapp .services-post h2 {
  color: #222222;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.services-page-section .services-wrapp .services-post h4 {
  color: #222222;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  margin: 0 0 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
}
.services-page-section .services-wrapp .services-post .btn.readmore{
    font-family: 'Roboto', sans-serif;
font-weight: 500;
text-transform: uppercase;
color: #282f39;
display: inline-block;
background: #fee733;
position: relative;
line-height: 40px;
border-radius: 3px;
font-size: 14px;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
box-shadow: 0 2px 3px -2px rgba(2, 32, 62, 0.7);
padding: 0px 27px;
}
.services-page-section .services-wrapp .services-post p {
  margin-bottom: 15px;
}
.services-page-section .services-wrapp .services-post a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #666666;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
}
.services-page-section .services-wrapp .services-post a:hover {
  color: #ffba00;
}
/*-------------------------------------------------*/
/* =  projects page
/*-------------------------------------------------*/
.projects-page-section {
  padding: 90px 0 0px;
}
.projects-page-section .title{
    margin-bottom: 35px;
}
.projects-page-section .gallery{
    padding: 70px 0px;
    background: #f4f6f7;
}
.projects-page-section ul.filter {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
}
.projects-page-section ul.filter li {
  display: inline-block;
  margin: 0 15px;
}
.projects-page-section ul.filter li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: 1.3px;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  padding: 6px 18px;
}
.projects-page-section ul.filter li a.active,
.projects-page-section ul.filter li a:hover {
    background: #FFCB05;
    padding: 6px 18px;
    color: #fff;
}
.projects-page-section .project-box {
  width: 1170px;
  margin-left: -15px;
}
.projects-page-section .project-box .project-post {
  width: 262px;
  margin: 15px;
}
.projects-page-section .project-box .project-post .hover-box {
  background: rgba(19,49,76,0.8);
}
.projects-page-section .project-box .project-post .hover-box span {
  color: #fff;
}
.projects-page-section .project-box .project-post .hover-box h2 a:hover {
  color: #666666;
}
.projects-page-section .project-box.col3 .project-post {
  width: 360px;
}
.projects-page-section .project-box.col2 .project-post {
  width: 555px;
}
/*-------------------------------------------------*/
/* =  blog page
/*-------------------------------------------------*/
.blog-section {
  padding: 90px 0 25px;
}
.blog-section h2 {
  color: #222222;
font-family: 'Roboto Slab', sans-serif;
font-weight: 700;
margin: 0 0 15px;
text-transform: uppercase;
font-size: 18px;
}
.blog-section .blog-post{
    margin-bottom: 50px;
}
.blog-section .blog-post.single-post{
    margin-bottom: 20px;
}
.blog-section .blog-box .blog-post .post-content-text{
    padding: 0px 0px 25px;
}
.blog-section .blog-post p{
    padding-bottom: 15px;
}
.blog-section .blog-box .blog-post img,
.blog-section .blog-box .blog-post iframe {
  width: 100%;
}
.blog-section .blog-box .blog-post iframe {
  height: 360px;
}
.blog-section .blog-box .blog-post h2 {
  color: #282828;
    font-size: 17px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-section .blog-box .blog-post h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
}
.blog-section .blog-box .btn.readmore {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    background: #FFCB05;
    position: relative;
    line-height: 40px;
    border-radius: 3px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0px 3px -2px #02203e;
    padding: 0px 27px;
}
.news-section .news-post h2 a:hover, .blog-section .blog-box .blog-post h2 a:hover {
  color: #ffba00;
}
.news-section .blog_infos, .blog-section .blog_infos {
  margin: 20px 0;
  display: block;
}
.news-section .blog_infos li, .blog-section .blog_infos li {
  padding: 0;
  display: inline-block;
}
.news-section .blog_infos li + li:before, .blog-section .blog_infos li + li:before {
  content: '';
  width: 1px;
  height: 14px;
  float: left;
  margin: 0 10px;
  background: #282828;
}
.news-section .blog_infos li a, .blog-section .blog_infos li a {
  color: #282828;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
letter-spacing: .5px;
line-height: 14px;
text-transform: uppercase;
padding: 0;
white-space: nowrap;
}
.news-section .blog_infos li a i, .blog-section .blog_infos li a i {
  margin-right: 8px;
}
.news-section .blog_infos li a:hover, .blog-section .blog_infos li a:hover {
  background: none;
  color: #443a44;
}
.blog-section .blog-box .blog-post .post-content-text > a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
}
.blog-section .blog-box .blog-post .post-content-text > a:hover {
  color: #4b4b4b;
}
.blog-section .blog-box ul.pagination-list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.blog-section .blog-box ul.pagination-list li {
  display: inline-block;
  margin-right: 8px;
}
.blog-section .blog-box ul.pagination-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #666666;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
}
.blog-section .blog-box ul.pagination-list li a:hover,
.blog-section .blog-box ul.pagination-list li a.active {
  color: #ffba00;
}
.blog-section .blog-box .single-post h1 {
  color: #222222;
  font-size: 17px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 0px;
}
.blog-section .blog-box .single-post p {
  margin-bottom: 25px;
}
.blog-section .blog-box .single-post blockquote {
  border-left: 1px solid #222222;
  padding: 20px 0;
  padding-left: 30px;
  margin-left: 30px;
  margin-bottom: 25px;
}
.blog-section .blog-box .single-post blockquote p {
  font-size: 14px;
  margin: 0;
}
.blog-section .blog-box .single-post blockquote p span {
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 0;
  text-transform: inherit;
}
.blog-section .blog-box .autor-post {
  overflow: hidden;
  margin-bottom: 40px;
}
.blog-section .blog-box .autor-post img {
  max-width: 130px;
float: left;
border-radius: 50%;
border: 1px solid #ececec;
}
.blog-section .blog-box .autor-post .autor-content {
  margin-left: 150px;
  padding: 12px 0px 1px;
}
.blog-section .blog-box .autor-post .autor-content h2 {
  margin-bottom: 0;
}
.blog-section .blog-box .autor-post .autor-content span {
  display: inline-block;
  color: #666666;
  font-size: 13px;
  font-family: 'Roboto Slab', sans-serif;
  margin-bottom: 15px;
}
.blog-section .blog-box .comment-section {
  margin-bottom: 40px;
  padding: 25px;
}
.blog-section .blog-box .comment-section h2 {
  margin-bottom: 25px;
}
.blog-section .blog-box .comment-section ul {
  margin: 0;
  padding: 0;
}
.blog-section .blog-box .comment-section ul li {
  list-style: none;
}
.blog-section .blog-box .comment-section ul li .comment-box {
  overflow: hidden;
  padding-bottom: 35px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 40px;
}
.blog-section .blog-box .comment-section ul li .comment-box img {
  max-width: 100px;
float: left;
border-radius: 50%;
border: 1px solid #ececec;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content {
  margin-left: 120px;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content h4 {
  color: #222222;
  font-size: 13px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content h4 a {
  color: #222222;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  float: right;
  font-size: 11px;
  font-weight: 400;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content h4 a:hover {
  color: #ffba00;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content span {
  font-size: 14px;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  margin: 0 0 10px;
  font-size: 11px;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content p {
  margin: 0 !important;
}
.blog-section .blog-box .comment-section ul.depth .comment-box {
  padding-left: 120px;
}
.blog-section .blog-box ul.pagination-list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  position: relative;
}
.blog-section .blog-box ul.pagination-list li {
  display: inline-block;
margin-right: 8px;
padding: 8px 16px;
border: 1px solid #cacaca;
}
.blog-section .blog-box ul.pagination-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #666666;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.blog-section .blog-box ul.pagination-list li a:hover,
.blog-section .blog-box ul.pagination-list li a.active {
  color: #dfb871;
}
.sidebar h2 {
  color: #222222;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 25px;
}
.sidebar .widget {
    padding: 0px 20px 20px;
}
.sidebar ul.category-list,
.sidebar ul.archieve-list {
  margin: 0;
  padding: 0;
}
.sidebar ul.category-list li,
.sidebar ul.archieve-list li {
  list-style: none;
  margin-bottom: 10px;
}
.sidebar ul.category-list li a,
.sidebar ul.archieve-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10px;
  width: 100%;
}
.sidebar ul.category-list li a:hover,
.sidebar ul.archieve-list li a:hover {
  color: #ffba00;
}
.sidebar ul.category-list li a span,
.sidebar ul.archieve-list li a span{
    float: right;
}
.sidebar ul.category-list li:last-child,
.sidebar ul.archieve-list li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.sidebar ul.tags-list {
  margin: 0;
  padding: 0;
}
.sidebar ul.tags-list li {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 6px;
}
.sidebar ul.tags-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 9px 20px;
  font-family: 'Roboto Slab', sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
color: #a9a9a9;
-moz-border-radius: 0;
-webkit-border-radius: 0;
border: 2px solid #ececec;
margin-right: 10px;
margin-bottom: 10px;
text-transform: capitalize;
}
.sidebar ul.tags-list li a:hover {
  background: #ffba00;
  color: #fff;
}

.news-section.col3 .news-box,
.news-section.col2 .news-box {
  width: 1070px;
  margin-left: -15px;
}

.news-section.col3 .news-box .news-post {
  width: 360px;
  margin: 15px;
  margin-bottom: 40px;
  background: #fff;
}

.news-section.col2 .news-box .news-post {
  width: 555px;
  margin: 15px;
  margin-bottom: 40px;
  background: #fff;
}
.news-section.col2 .news-box .news-post .post-content-text{
    padding: 0px 25px 25px;
    text-align: center;
}
/*-------------------------------------------------*/
/* =  single project page
/*-------------------------------------------------*/
.single-page-section {
  padding: 65px 0 40px;
}
.single-page-section img {
  width: 100%;
  margin-bottom: 30px;
}
.single-page-section .project-content-box {
  margin-bottom: 40px;
}
.single-page-section .project-content-box h2 {
  color: #222222;
  font-size: 17px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 16px;
  margin-bottom: 20px;
}
.single-page-section .project-content-box ul {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.single-page-section .project-content-box ul li {
  list-style: none;
  font-size: 14px;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 10px;
  margin: 0 0 8px;
}
.single-page-section .project-content-box ul li i {
  font-size: 13px;
  color: #ffba00;
  width: 20px;
}
.single-page-section .project-content-box ul li span {
  color: #222222;
  font-weight: 700;
  margin-right: 10px;
}
/*-------------------------------------------------*/
/* =  contact page
/*-------------------------------------------------*/
#map {
  height: 500px;
}
.contact-section h3 {
  color: #222222;
  font-size: 17px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.contact-section p {
  margin-bottom: 30px;
}
.contact-section ul.information-list {
  margin: 0;
  padding: 0;
}
.contact-section ul.information-list li {
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
}
.contact-section ul.information-list li i {
  float: left;
  color: #222222;
  font-size: 13px;
  display: inline-block;
  line-height: 24px;
}
.contact-section ul.information-list li span {
  display: block;
  font-size: 14px;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 10px;
  margin-bottom: 8px;
  margin-left: 25px;
  color: #222222;
}
.contact-section ul.information-list li a {
  font-size: 14px;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 10px;
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 10px;
  color: #222222;
}
.contact-section ul.information-list li:last-child {
  border-bottom: none;
}
#contact-form input[type="text"],
.comment-form input[type="text"],
#contact-form textarea,
.comment-form textarea {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #dedede;
  margin-bottom: 20px;
  outline: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #666666;
  font-size: 13px;
  font-family: 'Roboto Slab', sans-serif;
}
#contact-form input[type="text"]:focus,
.comment-form input[type="text"]:focus,
#contact-form textarea:focus,
.comment-form textarea:focus {
  border: 1px solid #ffba00;
}
#contact-form textarea,
.comment-form textarea {
  height: 146px;
}
#contact-form input[type="submit"],
.comment-form input[type="submit"] {
  font-family: 'Roboto', sans-serif;
font-weight: 500;
text-transform: uppercase;
color: #fff;
display: inline-block;
background: #FFCB05;
position: relative;
line-height: 40px;
border-radius: 3px;
font-size: 14px;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
box-shadow: 0 0px 3px -2px #02203e;
padding: 0px 27px;
border: none;
}
#contact-form input[type="submit"]:hover,
.comment-form input[type="submit"]:hover {
  opacity: 0.7;
}
#contact-form .message,
.comment-form .message {
  padding: 10px 20px;
  font-size: 13px;
  font-family: 'Roboto Slab', sans-serif;
}
#contact-form .message.error,
.comment-form .message.error {
  color: #e74c3c;
  background: rgba(246, 80, 80, 0.4);
  border: 1px solid #e74c3c;
}
#contact-form .message.success,
.comment-form .message.success {
  color: #29b504;
  background: rgba(63, 220, 21, 0.4);
  border: 1px solid #29b504;
}
/*-------------------------------------------------*/
/* =  error page
/*-------------------------------------------------*/
.error-section {
  padding: 120px 0px 120px;
  position: relative;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  background: url(../upload/banners/error.jpg) no-repeat;
  background-size: cover;
}
.error-section i {
  color: #FFBA05;
  font-size: 220px;
  margin-bottom: 30px;
}
.error-section h1 {
  color: #222222;
  font-size: 30px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  max-width: 460px;
  margin: 0 auto 10px;
  line-height: 52px;
}
.error-section p {
  margin-bottom: 25px;
  color: #ffffff;
}
.error-section a {
  font-family: 'Roboto', sans-serif;
font-weight: 500;
text-transform: uppercase;
color: #fff;
display: inline-block;
background: #FFCB05;
position: relative;
line-height: 40px;
border-radius: 3px;
font-size: 14px;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
box-shadow: 0 0px 3px -2px #02203e;
padding: 0px 27px;
}
.error-section a:hover {
  color: #ffffff;
  background: #ffba00;
}
.error-section .error-content {
  position: relative;
  z-index: 2;
}
.error-section:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.3);
}
/*-------------------------------------------------*/
/* =  Social Links
/*-------------------------------------------------*/
.social-links > li {
    padding-right: 23px;
    padding-left: 0;
}
.social-links > li:last-child {
    padding-right: 0;
}
.social-links > li > a {
    font-size: 12px;
    color: #ccc;
}
.social-links_mod-a > li {
    margin-bottom: 4px;
    padding-right: 4px;
}
.social-links_mod-a > li > a {
    display: block;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    color: #777575;
    background-color: #1C232A;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    text-align: center;
    border-radius: 50%;
}
.social-links_mod-a > li > a:hover {
    color: #fff;
}
.social-links_mod-b > li > a {
    color: #fff;
    background-color: #777;
    box-shadow: none;
}

/*-------------------------------------------------*/
/* =  Team
/*-------------------------------------------------*/
.team-box .team-inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.team-box .team-inner img {
    width: 100%;
    display: block;
}
.team-box .team-inner .mask {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    opacity: 0;
    background: rgba(3, 66, 99,0.8);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.team-box .team-inner ul {
    list-style: none;
    position: absolute;
    z-index: 3;
    top: -30px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    left: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.team-box .team-inner ul li {
    display: inline-block;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}
.team-box .team-inner ul li a {
    font-family: 'FontAwesome';
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    display: inline-block;
    color: #f2f2f2;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.team-box:hover .mask {
  opacity: 1;
}
.team-box h6 {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #002E5B;
    font-family: Roboto Slab;
}
.team-box:hover ul {
  top: 50%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.team-box .subtext {
    text-align: center;
    color: #555555;
    font-size: 13px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.team-box .team-inner ul li a:hover {
    background-color: #ffd300;
    color: #223366;
    border: 1px solid #ffd300;
}
/*-------------------------------------------------*/
/* =  buy-now
/*-------------------------------------------------*/
.pad-tb-40 {
    padding-top: 30px;
    padding-bottom: 40px;
    background: #002e5b;
}
.callto-action .button-one {
    font-family: 'Roboto', sans-serif;
font-weight: 500;
text-transform: uppercase;
color: #fff;
display: inline-block;
background: #FFCB05;
position: relative;
line-height: 40px;
border-radius: 3px;
font-size: 14px;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
box-shadow: 0 2px 5px 3px #02203e;
padding: 0px 27px;
}
.callto-action .call-title-text{
    color: #fff;
    font-style: italic;
    font-size: 22px;
    padding-right: 50px;
}
.btn-theme {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    background: #FFCB05;
    position: relative;
    line-height: 28px;
    padding-left: 27px;
    border-radius: 3px;
    padding-right: 27px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 1px 0px #dbdbdb;
}
.btn-theme:hover{
    color: #fff;
}
/*-------------------------------------------------*/
/* =  Pricing Table
/*-------------------------------------------------*/
.pricing-section{
    background: #f8f8f8;
}
.pricing-section .title {
    text-align: center;
    margin-bottom: 88px;
}
.pricing-section .col-md-3{
    padding: 0px;
    z-index: 1;
}
.pricing-section .col-md-3:nth-child(4){
    padding: 0px;
    z-index:2;
}
.pricing-table{
    border: 1px solid #f6f6f6;
}
.pricing-table.highlight-yes{
    margin-top: -18px;
    border: 1px solid #FFCB05;
}
.pricing-table.highlight-yes h5{
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.pricing-table.highlight-yes .pricing-title{
    background: #FFCB05;
}
.pricing-table.highlight-yes .pricing-title, .pricing-table.highlight-yes .pricing-button {
    padding: 28px 15px;
}
.pricing-table .pricing-title, .chosen-container .chosen-results li {
    border-bottom: 1px solid #eeeeee;
}
.pricing-table li {
    margin: 0;
    padding: 20px;
    text-align: center;
}
.pricing-table li.pricing-price .price {
    margin-bottom: 5px;
}
.pricing-table .price {
    font-size: 40px;
    line-height: 50px;
    display: inline-block;
}
.pricing-table .currency {
    font-size: 20px;
}
.pricing-duration.special-subtitle {
    max-width: 100%;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    font-family: Crimson Text;
    text-transform: none;
    letter-spacing: 0px;
}
.pricing-table .pricing-duration {
    display: block;
}
.pricing-table {
    list-style: none;
    padding: 0;
    background: #fff;
    padding-bottom: 25px;
}
.pricing-button a{
    font-size: 12px;
    font-weight: 700;
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    color: #FEFEFE;
    border-radius: 2px;
    padding: 15px 45px;
    background: #282828;
}
.pricing-table.highlight-yes .pricing-button a{
    background: #FFCB05;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    color: #FEFEFE;
    border-radius: 2px;
    padding: 15px 45px;
}
/*-------------------------------------------------*/
/* =  Footer
/*-------------------------------------------------*/
footer {
  background: #103F6E;
}
footer .social-links{
    padding-top: 10px;
}
footer .up-footer {
  padding: 70px 0;
  background-size: cover;
  position: relative;
}
footer .up-footer .container{
    position: relative;
    z-index: 2;
}
footer .up-footer:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 18, 18, 0.8);
}
footer .up-footer h2 {
  color: #c5c5c5;
  font-size: 17px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
footer .up-footer p {
  color: #8c8c8c;
}
footer .up-footer img {
  margin-top: 20px;
}
footer .up-footer ul.tag-list {
  margin: 0;
  padding: 0;
}
footer .up-footer ul.tag-list li {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 6px;
}
footer .up-footer ul.tag-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 8px 18px;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
footer .up-footer ul.tag-list li a:hover {
  background: #ffba00;
  border: 1px solid #ffba00;
}
footer .up-footer ul.navigation {
  margin: 0;
  padding: 0;
}
footer .up-footer ul.navigation li {
  list-style: none;
  margin-bottom: 5px;
}
footer .up-footer ul.navigation li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 12px;
  font-family: 'Roboto Slab', sans-serif;
  color: rgba(255, 255, 255, 0.9);
}
footer .up-footer ul.navigation li a:hover {
  color: #ffba00;
}
.footer-widget .link-list a {
    color: #8c8c8c;
    text-transform: capitalize;
    line-height: 30px;
}
.footer-widget .link-list{
    list-style: none;
    padding: 0px;
}
footer .up-footer .info-widget p {
  margin-bottom: 5px;
}
footer .up-footer .info-widget p span {
  font-family: 'Roboto Slab', sans-serif;
  color: #c5c5c5;
}
footer .up-footer .info-widget p.first-par {
  margin-bottom: 20px;
}
footer .copyright {
padding: 25px 0;
background: #090F15;
border-top: 1px solid #1C2B3B;
text-transform: uppercase;
font-size: 13px;
font-family: 'Roboto Slab', sans-serif;
color: #575454;
text-align: center;
margin: 0;
}
footer .copyright p{
    color: #595A5C;
    text-transform: capitalize;
}
.pb-70{
    padding: 70px 0px;
}
/*-------------------------------------------------*/
/* =  Responsive Part
/*-------------------------------------------------*/
@media (max-width: 1500px) {
  .project-box .project-post {
    width: 31.0%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 1199px) {
      .welcome_details img{
      display: initial;
  }

  .welcome_details {
      text-align: center;
  }
  .about-section{
      padding: 0px 25px;
  }
  .projects-page-section .project-box,
  .news-section.col3 .news-box,
  .news-section.col2 .news-box {
    width: 970px;
  }
  .projects-page-section .project-box.col2 .project-post,
  .news-section.col2 .news-box .news-post {
    width: 455px;
  }
  .projects-page-section .project-box.col3 .project-post,
  .projects-page-section .project-box .project-post,
  .news-section.col3 .news-box .news-post {
    width: 293px;
  }
  #map {
    height: 400px;
  }
  .flexslider .flexcaption .inner-caption {
    padding: 20px 25px;
  }
  .flexslider .flexcaption .inner-caption h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .flexslider .flexcaption .inner-caption p {
    font-size: 13px;
  }
  .header-info .info-box{
      display: block;
  }
  .header-info .info-box .icon-box{
      text-align: center;
  }
  .mainmenu-area .find-advisor{
      display: none;
  }
  .navbar-default .navbar-collapse{
        width: 117%;
        margin-left: -30px;
        margin-top: 30px;
        background: #031525;
        margin-right: -30px;
  }
  .navbar-nav li.drop ul.dropdown li a {
        border-bottom: 1px solid #0a2740;
    }
  .top-line .right-info{
    display: none;
  }
  .navbar-nav li.drop ul.dropdown{
      background: none;
  }
  .navbar-nav > li > a.active:after{
      background: none;
      border: none;
  }
  .navbar-nav > li.drop ul.dropdown li a {
    color: #676767;
    }
    .welcome_sec {
    background-image: none;
    }
    .callto-action .call-title-text {
    padding-right: 0px;
    display: table;
    margin-bottom: 15px;
}
  .navbar-toggle{
    margin-right: -10px !important;
  }
}
@media (max-width: 991px) {
  .top-line,
  .top-line ul.social-icons {
    text-align: center;
    border-bottom: none;
  }
  .navbar{
    min-height: 77px;
  }

  .social-top{
      display: none;
  }
  header .bottom_header .logo{
      top: 0px;
  }
  .services-offer-section {
    padding: 70px 0 35px;
    background: none;
}
  .top-line p span {
    display: inline-block;
    margin-bottom: 7px;
  }

  .navbar-nav > li > a {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  .navbar-nav a.open-search {
    padding-left: 7px !important;
  }
  .offer-post {
    margin-bottom: 30px;
  }
  .who-img{
      display: none;
  }
  .project-box .project-post {
    width: 30.5%;
  }
  .tab-posts-box {
    margin-top: 30px;
  }
  .footer-widget {
    margin-bottom: 30px;
  }
  .clients-section blockquote {
    margin-top: 20px;
  }
  .projects-page-section .project-box,
  .news-section.col3 .news-box,
  .news-section.col2 .news-box {
    width: 750px;
  }
  .projects-page-section .project-box.col2 .project-post,
  .projects-page-section .project-box.col3 .project-post,
  .projects-page-section .project-box .project-post,
  .news-section.col3 .news-box .news-post,
  .news-section.col2 .news-box .news-post {
    width: 345px;
  }
  .page-banner-section {
    margin-top: 177px;
    text-align: center;
  }
  .page-banner-section h2 {
    margin-bottom: 5px;
  }
  .page-banner-section ul.page-depth {
    text-align: center;
  }
  #map {
    margin-top: 177px;
    height: 300px;
  }
  .contact-info {
    margin-bottom: 30px;
  }
  .flexslider .flexcaption .inner-caption {
    padding: 16px 25px;
    max-width: 50%;
  }
  .flexslider .flexcaption .inner-caption h1 {
    font-size: 16px;
    margin-bottom: 0;
  }
  .flexslider .flexcaption .inner-caption p {
    display: none;
  }
  .about-section2 iframe {
    height: 300px;
  }

}
@media (max-width: 767px) {

  .navbar-brand {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .navbar-default .navbar-toggle {
    margin-top: 13px;
  }
  .navbar-nav > li > a {
    padding: 5px 15px !important;
  }
  .navbar-nav > li.search {
    display: none;
  }
  .navbar-nav > li.drop ul.dropdown {
    position: relative;
    top: inherit;
    left: inherit;
    width: 100%;
    padding: 0;
    border: none;
    visibility: visible;
    opacity: 1;
  }
  .navbar-nav > li.drop ul.dropdown li a {
    padding: 5px 20px;
    text-transform: inherit;
  }
  .banner-section h2 a {
    margin-left: 6px;
    margin-top: 5px;
  }
  .project-box .project-post {
    width: 45%;
  }
  .projects-page-section .project-box,
  .news-section.col3 .news-box,
  .news-section.col2 .news-box {
    width: 100%;
    margin-left: 0;
  }
  .projects-page-section .project-box.col2 .project-post,
  .projects-page-section .project-box.col3 .project-post,
  .projects-page-section .project-box .project-post {
    width: 100%;
    margin: 0 0 30px;
  }
  .news-section.col3 .news-box .news-post,
  .news-section.col2 .news-box .news-post {
    width: 100%;
    margin: 0 0 10px;
  }
  .page-banner-section,
  #map {
    margin-top: 0px;
    height: 250px;
  }
  .blog-section .blog-box .comment-section ul.depth .comment-box {
    padding-left: 0;
  }
  .flexslider .flexcaption .inner-caption {
    display: none;
  }
  .about-section2 iframe {
    height: 250px;
  }
  #home-section.slider2 {
    margin-top: 60px;
  }
  .title p{
      margin:20px 40px 30px
  }
}
@media (max-width: 500px) {
  .project-box .project-post {
    width: 100%;
  }
  .tab-posts-box ul.nav-tabs li a {
    padding: 6px 10px;
    font-size: 11px;
    font-weight: 400;
  }
  .tab-posts-box .tab-pane img {
    float: none !important;
    margin: 0;
    margin-bottom: 20px;
  }
  .blog-section .blog-box .autor-post img {
    max-width: auto;
    float: none;
    margin-bottom: 20px;
  }
  .blog-section .blog-box .autor-post .autor-content,
  .blog-section .blog-box .comment-section ul li .comment-box .comment-content {
    margin-left: 0;
  }
  .blog-section .blog-box .comment-section ul li .comment-box img {
    display: none;
  }
  .title p{
      margin:20px 40px 30px
  }
  #map {
    height: 200px;
  }

}
